@media only print{
	#container { display:none; }
}

#tipoCesta {
	float: left;
	width: 300px;
}

#ayudaPagina {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.onecolumn li {
	padding-bottom: 0px;
}

.portadaFlotante {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
	left: 60px;
	top: -50%;
	position: absolute;
	z-index: 999;
}
.portadaFlotante img {
	display: block;
	max-width: 500px;
	max-height: 500px;
}

#llamadasAjax {
	background-color: white;
	position: fixed;
	width: 300px;
	height: 50px;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -30px;
	border: 1px solid black;
	text-align: center;
	padding-top: 5px;
	/*opacity: 0.8;*/
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0 0 #E4E4E4;
	z-index: 999;
}

.paginaError {
	border: 1px solid black;
	width: 900px;
	text-align: center;
	margin-left: 50px;
	padding-top: 70px;
}

.tituloError{
	font-size: 1.2em;
	margin-bottom: 10px;
}

.mensajeError{
	font-size: 1.1em;
	margin-bottom: 100px;
}

.selectMiniCesta {
	width: 176px;
	margin-left: 3px;
	margin-top: 18px;
}


/* Cookies message */
.cookie-content .cookie-compliant {
	box-sizing: border-box;
	position: fixed;
	max-width: 1140px;
	max-height: 90%;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 9999;
	border-radius: 0;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	padding: 40px;
	overflow-y: auto;
}
.cookie-content .cookie-compliant p {
	margin-bottom: 10px;
	color: #333;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.8em;
}
.cookie-content .cookie-compliant p a {
	color: #cf0e3a;
}
.cookie-content .cookie-compliant .text-right {
	text-align: right;
}
.cookie-content .cookie-compliant .text-center {
	text-align: center;
}
.cookie-content .cookie-compliant .infoCookies {
    font-size: 1rem;
    line-height: 1.5em;
}
.cookie-content .cookie-compliant .infoCookies ul {
	margin: 0;
}
.cookie-content .cookie-compliant .infoCookies ul li {
	font-size: 1em;
	margin: 0;
}
.cookie-content .cookie-compliant .configuracionCookies h2 {
	font-size: 1.4rem;
	margin: 0 0 15px 0;
	text-align: left;
}
.cookie-content .cookie-compliant .configuracionCookies h3 {
	font-size: 1rem;
	margin: 10px 0;
}
.cookie-content .cookie-compliant .configuracionCookies input,
.cookie-content .cookie-compliant .configuracionCookies label {
	display: inline-block;
	vertical-align: middle;
}
.cookie-content .cookie-compliant .configuracionCookies input {
	margin-right: 5px;
}
.cookie-content .cookie-compliant .configuracionCookies label {
	font-size: 1.2em;
	float: none;
	margin: 0;
	width: auto;
}
.cookie-compliant .configuracionCookies .buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.cookie-backdrop {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	opacity: .3;
	width: 100vw;
	height: 100vh;
	z-index: 1040;
}
.cookie-content .cookie-compliant .btn{
    line-height: 19px;
    border-radius: 4px;
    font-size: 1rem;
    padding: .6rem 1rem;
    border: none;
    font-weight: 500;
	font-size: .9rem;
}
.cookie-content .cookie-compliant .btn-primary {
    color: #FFF;
    background-color: #cf0e3a;
}
.aceptarCookies{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	flex-direction: column;
}
@media (max-width: 768px){
	.cookie-compliant .configuracionCookies .buttons,
	.aceptarCookies{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.cookie-compliant .configuracionCookies .buttons > div{
		width: 100%;
	}
	.cookie-compliant .configuracionCookies .buttons .btn{
		width: 100%;
		margin-bottom: 10px;
	}
}

/* VENTANA EMERGENTE DE "insert_carrito.php" */
#ventanaEmergente {
	background: none repeat scroll 0 0 #fbfbfb;
	border: 1px solid grey;
	border-radius: 3px;
	left: 50%;
	margin: -130px 0 0 -200px;
	position: fixed;
	top: 50%;
	width: 400px;
	z-index: 5;
	-moz-box-shadow: 0 0 5px grey;
	-webkit-box-shadow: 0 0 5px grey;
	box-shadow: 0 0 5px grey;
}
#ventanaEmergente #headerVentana {
	background: none repeat scroll 0 0 #cf0a4f;
	border-bottom: 1px solid grey;
	border-radius: 3px 3px 0 0;
	color: white;
	font-size: 1.4em;
	line-height: 1em;
	padding: 15px;
}
#ventanaEmergente #mensajeVentana {
	color: #333;
	display: block;
	font-size: 1.2em;
	padding: 15px;
}
#ventanaEmergente #footerVentana {
	border-top: 1px solid grey;
	padding: 5px 15px 0;
}
#ventanaEmergente #footerVentana #botonesVentana .botonCesta {
	display: inline-block;
	float: right;
	position: relative;
	height: 22px;
	line-height: 2em;
	margin-right: 0;
	padding: 0;
	text-align: center;
	width: 72px;
}
#ventanaEmergente #footerVentana .fondo {
	clear: both;
}

.dropdown-banderas img {
	max-width: 20px;
	vertical-align: middle;
}
.dropdown-banderas img, .banderas-interior img {
	border: 1px solid #eee;
}